@font-face 
    font-family: "Montserrat-Regular"
    src: url("../ressources/Montserrat-Regular.ttf")

@font-face 
    font-family: "Montserrat-SemiBold"
    src: url("../ressources/Montserrat-SemiBold.ttf")

@font-face 
    font-family: "Montserrat-Bold"
    src: url("../ressources/Montserrat-Bold.ttf")

html, body
    margin: 0
    background-color: black
    height: 100%
    width: 100%
    background-image: url("../ressources/bg-body.png")
    font-family: Montserrat-Bold, sans-serif

.logo
    object-fit: contain
    position: absolute
    left: 50%
    transform: translate(-50%)
    top: -15px
    border: 1px solid orange
    background-color: rgba(25, 25, 25, 0.7)
    padding-left: 10px
    padding-right: 15px
    border-radius: 15px
    padding-top: 10px
    padding-bottom: 10px

.logo:hover
    box-shadow: 0 0 50px rgba(250, 150, 50, 0.5)
    transition: 1s
    cursor: pointer

main
    margin: 0 auto
    max-width: 1440px
    background-image: url("../ressources/bg.png")
    background-size: cover
    background-repeat: no-repeat
    height: 100%
    box-shadow: 0 0 40px black
    border: 2px solid rgb(25, 25, 25)
    border-top: none
    border-bottom: none
    position: relative

.twitter
    background-image: url("../ressources/twitter-grey.png")
    background-size: contain
    background-repeat: no-repeat
    height: 20px
    width: 20px

.twitter:hover
    background-image: url("../ressources/twitter.png")
    cursor: pointer
    transition: 0.5s

.youtube
    background-image: url("../ressources/youtube-grey.png")
    background-size: contain
    background-repeat: no-repeat
    height: 20px
    width: 20px

.youtube:hover
    background-image: url("../ressources/youtube.png")
    cursor: pointer
    transition: 0.5s


.facebook
    background-image: url("../ressources/fb-grey.png")
    background-size: contain
    background-repeat: no-repeat
    height: 20px
    width: 20px
    transition: 0.5s


.facebook:hover
    background-image: url("../ressources/fb.png")
    cursor: pointer
    transition: 0.5s

ol
    display: flex
    flex-direction: row
    list-style-type: none
    padding-left: 0
    margin: 0
    width: 100%
    justify-content: space-around

.follow
    margin-right: 20px

.follow-me
    font-family: Montserrat-SemiBold, sans-serif
    color: rgb(129, 129, 129)
    font-size: 15px

header
    width: 100%
    display: flex
    background-repeat: no-repeat
    justify-content: space-between

    
.left-nav
    justify-content: flex-start
    width: 33%
    border-bottom: 1px solid rgb(129, 129, 129)
    align-items: center
    display: flex
    margin-top: 10px

.right-nav
    color: white
    font-family: Montserrat-SemiBold, sans-serif
    justify-content: flex-end
    width: 33%
    height: 50px
    align-items: center
    background-color: rgba(25, 25, 25, 0.7)
    margin-right: 20px
    border-radius: 50px
    align-items: center
    display: flex
    margin-top: 10px
    


.li-right:hover
    transition: color 0.5s
    color: orange
    cursor: pointer

.nav-absolute
    background-color: rgba(0, 0, 0, 0.5)
    height: 300px
    width: 200px
    display: flex
    left: 20px
    align-items: start
    border: 1px solid orange
    color: white
    justify-content: space-around
    flex-direction: column
    align-items: center
    font-family: Montserrat, sans-serif
    font-size: 15px
    margin-top: 10px
    transition: 1s
    visibility: hidden
.btn-nav-absolute
    width: 5px
    height: 5px
    background-image: url("../ressources/toggle.png")
    background-repeat: no-repeat
    background-position: center
    border: 1px solid orange
    padding: 28px
    &:hover
        transition: 0.5s
        cursor: pointer
        background-image: url("../ressources/toggle-hover.png")

.li-menu
    display: flex
    align-items: center
    width: 80%
    justify-content: space-between
    filter: saturate(0)
    height: 300px
    &:hover
        filter: saturate(1)
        transition: 0.5s
        color: orange
        cursor: pointer

.twitch-box
    right: 5%
    border: 1px orange solid
    height: 100%
.mid-container
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 95%
    margin: 0 auto
    margin-top: 60px

.menu
    display: flex
    flex-direction: column
    margin-left: 20px

.partenaire
    background-color: rgba(0, 0, 0, 0.5)
    width: 410px
    height: 95px
    margin-top: 40px
    margin-left: 20px
    border: solid 1px orange
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

