@font-face {
  font-family: "Montserrat-Regular";
  src: url("../ressources/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../ressources/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../ressources/Montserrat-Bold.ttf");
}
/* line 13, ../sass/main.sass */
html, body {
  margin: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  background-image: url("../ressources/bg-body.png");
  font-family: Montserrat-Bold, sans-serif;
  scroll-behavior: smooth;
}

/* line 21, ../sass/main.sass */
.logo {
  height: 130px;
  border-left: 1px solid dimgray;
  border-right: 1px solid dimgray;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  object-fit: contain;
}

/* line 29, ../sass/main.sass */
.logo:hover {
  cursor: pointer;
}

/* line 32, ../sass/main.sass */
.montserrat-bold {
  font-family: Montserrat-SemiBold, sans-serif;
}

/* line 35, ../sass/main.sass */
.box-onglets {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid dimgray;
}

/* line 41, ../sass/main.sass */
main {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url("../ressources/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: 0 0 40px black;
  border: 2px solid #191919;
  border-top: none;
  border-bottom: none;
  position: relative;
}

/* line 54, ../sass/main.sass */
.twitter {
  background-image: url("../ressources/twitter-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 61, ../sass/main.sass */
.twitter:hover {
  background-image: url("../ressources/twitter.png");
  cursor: pointer;
  transition: 0.5s;
}

/* line 66, ../sass/main.sass */
.youtube {
  background-image: url("../ressources/youtube-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 73, ../sass/main.sass */
.youtube:hover {
  background-image: url("../ressources/youtube.png");
  cursor: pointer;
  transition: 0.5s;
}

/* line 79, ../sass/main.sass */
.facebook {
  background-image: url("../ressources/fb-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  transition: 0.5s;
}

/* line 88, ../sass/main.sass */
.facebook:hover {
  background-image: url("../ressources/fb.png");
  cursor: pointer;
  transition: 0.5s;
}

/* line 93, ../sass/main.sass */
ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

/* line 102, ../sass/main.sass */
.follow {
  margin-right: 20px;
}

/* line 105, ../sass/main.sass */
.follow-me {
  font-family: Montserrat-SemiBold, sans-serif;
  color: #818181;
  font-size: 15px;
}

/* line 110, ../sass/main.sass */
header {
  width: 100%;
  display: flex;
  background-size: contain;
  background-blend-mode: darken;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

/* line 119, ../sass/main.sass */
.twitch-nav {
  color: #975fff;
  font-family: Montserrat-Semibold, sans-serif;
  margin: 0;
  padding: 0;
  border: 1px solid #975fff;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 129, ../sass/main.sass */
.twitch-nav:hover {
  background-color: #6441A4;
  color: black;
  cursor: pointer;
}

/* line 134, ../sass/main.sass */
.left-nav {
  position: fixed;
  bottom: 1%;
  align-items: center;
  display: flex;
  left: 50%;
  width: 150px;
  transform: translate(-50%);
  image-rendering: crisp-edges;
  z-index: 999;
}
/* line 144, ../sass/main.sass */
.left-nav:hover {
  cursor: pointer;
}

/* line 147, ../sass/main.sass */
.news {
  padding: 15px;
  width: 270px;
  height: 430px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: scroll;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border: 1px solid #1e1e1e;
}

/* line 160, ../sass/main.sass */
.line-break {
  height: 1px;
  width: 100%;
  background-color: orange;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 167, ../sass/main.sass */
.date {
  color: gray;
}

/* line 169, ../sass/main.sass */
.news-article {
  font-size: 14px;
  color: white;
  font-family: Montserrat-Regular, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: scroll;
  height: 30%;
  padding: 10px;
}

/* line 186, ../sass/main.sass */
.titre-des-news {
  font-family: Montseerrat-SemiBold, sans-serif;
}

/* line 189, ../sass/main.sass */
.titre-news {
  color: orange;
  font-size: 14px;
  font-family: Montserrat-Regular, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
}

/* line 195, ../sass/main.sass */
.right-nav {
  color: white;
  font-family: Montserrat-Regular, sans-serif;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: black;
  align-items: center;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  margin-top: 20px;
}

/* line 209, ../sass/main.sass */
.li-right {
  white-space: nowrap;
  text-decoration: none;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

/* line 217, ../sass/main.sass */
.arrow {
  color: white;
  margin-right: 20px;
  font-size: 20px;
  font-family: Montserrat-Regular, sans-serif;
  cursor: pointer;
  border: 1px solid orange;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 229, ../sass/main.sass */
.height-header-about-me {
  height: 40px;
  display: flex;
  align-items: center;
}

/* line 234, ../sass/main.sass */
.active {
  color: orange !important;
  font-family: Montserrat-SemiBold, sans-serif;
}

/* line 238, ../sass/main.sass */
.ol-header-about-me {
  margin-left: 100px;
  display: flex;
  justify-content: unset;
  font-family: Montserrat-Regular, sans-serif;
}

/* line 243, ../sass/main.sass */
.li-style-about-me {
  display: flex;
}

/* line 246, ../sass/main.sass */
.link-style {
  color: white !important;
  text-decoration: none !important;
}
/* line 249, ../sass/main.sass */
.link-style:visited {
  color: white !important;
  text-decoration: none !important;
}

/* line 253, ../sass/main.sass */
.li-right:hover {
  transition: color 0.5s;
  color: orange;
  cursor: pointer;
}

/*.nav-absolute
 * background-color: rgba(0, 0, 0, 0.5)
 * height: 300px
 * width: 200px
 * display: flex
 * left: 20px
 * align-items: start
 * border: 1px solid orange
 * color: white
 * justify-content: space-around
 * flex-direction: column
 * align-items: center
 * font-family: Montserrat, sans-serif
 * font-size: 15px
 * margin-top: 10px
 * transition: 1s
 * visibility: hidden */
/* line 275, ../sass/main.sass */
.btn-nav-absolute {
  width: 5px;
  height: 5px;
  background-image: url("../ressources/toggle.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid orange;
  padding: 28px;
}
/* line 283, ../sass/main.sass */
.btn-nav-absolute:hover {
  transition: 0.5s;
  cursor: pointer;
  background-image: url("../ressources/toggle-hover.png");
}

/* line 288, ../sass/main.sass */
.li-menu {
  display: flex;
  align-items: center;
  filter: saturate(0);
  height: 50px;
  color: white;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 12px;
}
/* line 296, ../sass/main.sass */
.li-menu:hover {
  filter: saturate(1);
  transition: 0.5s;
  color: orange;
  cursor: pointer;
}

/* line 302, ../sass/main.sass */
.saturate {
  margin-left: 15px;
  width: 22px;
}

/* line 306, ../sass/main.sass */
.twitch-box {
  border: 1px orange solid;
  height: 100%;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.6);
}

/* line 310, ../sass/main.sass */
.mid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-left: 20px;
  margin-top: 20px;
}

/* line 318, ../sass/main.sass */
.menu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

/* line 323, ../sass/main.sass */
.partenaire {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 330, ../sass/main.sass */
.partenaire-img {
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: contain;
}

/* line 336, ../sass/main.sass */
.li-partenaire {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 341, ../sass/main.sass */
.blacksea {
  width: 110px;
}

/* line 344, ../sass/main.sass */
.win {
  width: 55px;
}

/* line 347, ../sass/main.sass */
.onglets {
  background-color: #141414;
  border-bottom: 1px solid black;
}

/* line 351, ../sass/main.sass */
.about-me {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  background-image: url("../ressources/about-me-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 3px solid black;
  margin: 0;
}

/* line 363, ../sass/main.sass */
.nom-prenom {
  color: white;
  margin-left: 40px;
  font-size: 28px;
}

/* line 368, ../sass/main.sass */
.box-about-me {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 840px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid orange;
  top: 25%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
}

/* line 381, ../sass/main.sass */
.description-about-me {
  color: white;
  font-size: 14px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
  letter-spacing: 0.5px;
}

/* line 389, ../sass/main.sass */
.about-me-style {
  color: orange;
}
