@font-face {
  font-family: "Montserrat-Regular";
  src: url("../ressources/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../ressources/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../ressources/Montserrat-Bold.ttf");
}
/* line 13, ../sass/main.sass */
html, body {
  margin: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  background-image: url("../ressources/bg-body.png");
  font-family: Montserrat-Bold, sans-serif;
}

/* line 21, ../sass/main.sass */
.logo {
  object-fit: contain;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -15px;
  border: 1px solid orange;
  background-color: rgba(25, 25, 25, 0.7);
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 35, ../sass/main.sass */
.logo:hover {
  box-shadow: 0 0 50px rgba(250, 150, 50, 0.5);
  transition: 1s;
  cursor: pointer;
}

/* line 40, ../sass/main.sass */
main {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url("../ressources/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: 0 0 40px black;
  border: 2px solid #191919;
  border-top: none;
  border-bottom: none;
  position: relative;
}

/* line 53, ../sass/main.sass */
.twitter {
  background-image: url("../ressources/twitter-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 60, ../sass/main.sass */
.twitter:hover {
  background-image: url("../ressources/twitter.png");
  cursor: pointer;
  transition: 0.5s;
}

/* line 65, ../sass/main.sass */
.youtube {
  background-image: url("../ressources/youtube-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 72, ../sass/main.sass */
.youtube:hover {
  background-image: url("../ressources/youtube.png");
  cursor: pointer;
  transition: 0.5s;
}

/* line 78, ../sass/main.sass */
.facebook {
  background-image: url("../ressources/fb-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  transition: 0.5s;
}

/* line 87, ../sass/main.sass */
.facebook:hover {
  background-image: url("../ressources/fb.png");
  cursor: pointer;
  transition: 0.5s;
}

/* line 92, ../sass/main.sass */
ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

/* line 101, ../sass/main.sass */
.follow {
  margin-right: 20px;
}

/* line 104, ../sass/main.sass */
.follow-me {
  font-family: Montserrat-SemiBold, sans-serif;
  color: #818181;
  font-size: 15px;
}

/* line 109, ../sass/main.sass */
header {
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  justify-content: space-between;
}

/* line 116, ../sass/main.sass */
.left-nav {
  justify-content: flex-start;
  width: 33%;
  border-bottom: 1px solid #818181;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

/* line 124, ../sass/main.sass */
.right-nav {
  color: white;
  font-family: Montserrat-SemiBold, sans-serif;
  justify-content: flex-end;
  width: 33%;
  height: 50px;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.7);
  margin-right: 20px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

/* line 140, ../sass/main.sass */
.li-right:hover {
  transition: color 0.5s;
  color: orange;
  cursor: pointer;
}

/* line 145, ../sass/main.sass */
.nav-absolute {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 200px;
  display: flex;
  left: 20px;
  align-items: start;
  border: 1px solid orange;
  color: white;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

/* line 160, ../sass/main.sass */
.btn-nav-absolute {
  width: 0px;
  height: 0px;
  background-image: url("../ressources/toggle.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid orange;
  padding: 28px;
}
/* line 168, ../sass/main.sass */
.btn-nav-absolute:hover {
  transition: 0.5s;
  cursor: pointer;
  background-image: url("../ressources/toggle-hover.png");
}

/* line 173, ../sass/main.sass */
.li-menu {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  transition: 0.5s;
  filter: saturate(0);
}
/* line 180, ../sass/main.sass */
.li-menu:hover {
  filter: saturate(1);
  transition: 0.5s;
  color: orange;
}

/* line 185, ../sass/main.sass */
.twitch-box {
  right: 5%;
  border: 1px orange solid;
}

/* line 189, ../sass/main.sass */
.mid-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15%;
  justify-content: space-between;
  width: 95%;
}

/* line 197, ../sass/main.sass */
.menu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

/* line 202, ../sass/main.sass */
.partenaire {
  background-color: rgba(0, 0, 0, 0.5);
  width: 410px;
  height: 95px;
  margin-top: 40px;
  margin-left: 20px;
  border: solid 1px orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
